<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arsenal Fan Site</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#headers").load("layout/header.html");
            $("#footers").load("layout/footer.html");
            $(".loginWrap").load("login.html");
             
        });
    </script>
</head>

<body>
    <div id="headers"></div>

    <div class="writeWrap">
        <div class="top">
            <div id="title"><input type="text" id="title" placeholder="제목을 입력해 주세요"><input type="date" id="date"></div>
            <div class="addpost"><button type="button" id="addpost">글 추가	
                &#43;</button></div>
        </div>

        <div class="writeBox">
            <p class="photo"><input type="file" id="addPhoto"></p>
            <div><textarea id="text" placeholder="내용을 입력해 주세요"></textarea></div>
        </div>
    </div>

    <div id="footers"></div>
</body>

</html>